{% extends 'base.html' %}

{% block title %} Prestamos {% endblock %}

{% block titulo %} Prestamos {% endblock %}

{% block content %}
	{% if object_list %}
    <div class="container-fluid">
            <h2 class="text-center all-tittles">Listado de libros por devolver</h2>
            <div class="table-responsive">
                <div class="div-table" style="margin:0 !important;">
                    <div class="div-table-row div-table-row-list" style="background-color:#DFF0D8; font-weight:bold;">
                        <div class="div-table-cell" style="width: 35%;">Nombre Libro</div>
                        <div class="div-table-cell" style="width: 25%;">Nombre Editorial</div>
                        <div class="div-table-cell" style="width: 20%;">Categoria</div>
                        <div class="div-table-cell" style="width: 20%;">Fecha Maxima Entrega</div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <div class="div-table" style="margin:0 !important;">
                    {% for object in object_list %}
                    <div class="div-table-row div-table-row-list">
                        <div class="div-table-cell" style="width: 35%;">{{object.libro.titulo|title}}</div>
                        <div class="div-table-cell" style="width: 25%;">{{object.libro.editorial|title}}</div>
                        <div class="div-table-cell" style="width: 20%;">{{object.libro.categoria|title}}</div>
                        <div class="div-table-cell" style="width: 20%;">{{object.fecha_maxima}}</div>
                    </div>
                    {% empty %}
                    <div class="div-table-row div-table-row-list">
                        <div class="div-table-cell" style="width: 100%;">No hay libros registrados, por favor comuniquese con la administracion</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% include 'paginacion.html' %}
    </div>
    <p class="text-center">
        NOTA 1: Si no entregas en la fecha maxima, tendras multas :(
    </p>
    <p class="text-center">
        NOTA 2: Verifica que actualicen tus devoluciones de libros
    </p>

    {% else %}
		<br><br>
        <h3 class="text-center all-tittles">No hay libros</h3>
        <h2 class="text-center"><i class="zmdi zmdi-alert-polygon zmdi-hc-5x"></i>
        	<br><br>Lo sentimos, no hemos encontrado ningún libro <strong>pendiente por entregar</strong> en el sistema</h2>
	{% endif %}
{% endblock %}